<link phx-track-static rel="stylesheet" href={~p"/assets/form.css"} />
<.simple_form :let={form} for={@form} action={@action} multipart>
  <.input field={form[:upfile]} type="file" />

  <:actions>
    <.button>Upload</.button>
  </:actions>
</.simple_form>
